<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="refresh" content="4;URL=ra.hbs" >


</head>
<style>

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body, html {
  height: 100%;
margin : 0px; 
overflow: hidden;
 font-family: Monospace;
position: absolute; 
top: 10px;
 width:100%;
 text-align: center;
 z-index: 1;
}

.bg {
  /* The image used */
  background-image: url("imagen.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loading-panel-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-panel {
    display: table;
    width: 200px;
    height: 80px;
    padding: 0px 30px;

    background-color:rgb(214, 214, 214);
    border-radius: 50px;
    -webkit-box-shadow: inset 2px 2px 2px 2px rgba(238,238,238,1), 0px 1px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 2px 0px 0px rgba(238,238,238,1), 0px 1px 1px rgba(255, 255, 255, 0.4);
    box-shadow: inset 2px 2px 2px 2px rgba(238,238,238,1), 0px 1px 1px rgba(0, 0, 0, 0.4);

    animation: 2s bounce ease infinite;

}

.loading-panel span {
    display: table-cell;
    vertical-align: middle;
}

.loading-panel h3 {
    color: rgb(0, 0, 0);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: bold;
}

.shadow {
    position: absolute;
    width: 175px;
    height: 10px;
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 100%;
    background-color: #000000;
    opacity: 0.5;

    transform-origin: -50% -50%;
    animation: 2s pulsate ease infinite;

    z-index: -1;
}

@keyframes bounce {
    50% {
        transform: translateY(-70px);
    }
}

@keyframes pulsate {
    0% {
        opacity: 80;
    }
    50% {
        transform: scale(0.5);
        opacity: 0.2;
    }

    100% {
        opacity: 90;
    }
}
</style>

   <div class="loading-panel-wrap">
      <div class="loading-panel">
          <span><h3>C A R G A N D O<br><br>

                <img src="hiro.png" height="100" width="100" /><br>

            <BR>REALIDAD AUMENTADA</h3></span>

      </div>
      <div class="shadow"></div>
  </div>

  <div class="bg"></div>
</body>
</html>
