<br>
<br>
 <section class="section section-lg bg-default text-center">
        <div class="container">

          <div class="tabs-custom tabs-vertical tabs-video" id="tabs-2">
  
            <div class="tab-content">
              <div class="tab-pane fade show active" id="tabs-2-1">
                <div class="entry-video embed-responsive embed-responsive-16by9">
                  <iframe width="886" height="668" src="/video/vid.mp4"
                  allowfullscreen=""></iframe>
                </div>
              </div>
  
            </div>

        
          </div>
        </div>
      </section>