<br>
<br>

<div class="card text-center">
    <div class="card-header">
        Desarrolladores
    </div>
    <div class="card-body">
        <h5 class="card-title">Luis Bermudez Dionicio</h5>
        <p class="card-text">Correo: lbermudezd001@gmail.com</p>
    </div>
    <div class="card-body">
        <h5 class="card-title">Miguel Angel Nativitas Ponce</h5>
        <p class="card-text">Correo: miguelnativitasp@gmail.com </p>
    </div>
    <div class="card-body">
        <h5 class="card-title">Juan Antonio Rosas Lara</h5>
        <p class="card-text">Correo: juanrl.23@hotmail.com</p>
    </div>
    <div class="card-footer text-muted">
        -------- </div>
</div>